node_modules
dist
.next

.env
.env.local
.env.development.local
.env.production.local

.vercel
.netlify

.DS_Store
.claude
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*